<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Remove assignment ({{ assignment.name }}) from unit ({{ unit.number }})</h4>
</div>
<div class="modal-body">
  <p>Are you sure you want to remove the assignment titled <strong>{{ assignment.name }}</strong>
    from the unit titled <strong>{{ unit.name }}</strong>?</p>

  <div class="alert alert-danger">
    <h4><span class="glyphicon glyphicon-warning-sign"></span> Warning: This is a highly destructive operation!</h4>

    <p>
      Deleting an assignment will also remove all student submissions and assessments that were
      attached to it. Please be sure that this is what you want to do before continuing.
    </p>
  </div>

  <p>Please check the details as shown in the table before continuing:</p>

  <table class="table">
    <thead>
    <tr>
      <th>Assignment ID</th>
      <th>Assignment number</th>
      <th>Assignment name</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{ assignment.id }}</td>
      <td>{{ assignment.number }}</td>
      <td>{{ assignment.name }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  {% autoescape false %}
  {{ form_open({'route': ['admin.courses.units.assignments.destroy', course.id, unit.id, assignment.id], 'method': 'delete'}) }}
  {{ form_button('Remove assignment', {'type': 'submit', 'class': 'btn btn-danger'}) }}
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  {{ form_close() }}
  {% endautoescape %}
</div>