{% extends "layouts.transaction" %}

{% block title %}Batch import{% endblock %}

{% block content %}
  <header class="page-header section-heading">
    <hgroup>
      <h2>
          <span class="section-marker">Step 1 of 3</span>
          <span class="section-title">Data upload</span>
      </h2>
    </hgroup>
  </header>

  <article>
    {% if errors is not empty %}
      <div class="alert alert-danger">
        <h4>There was a problem submitting the form</h4>

        <p>Because of the following problems:</p>

        <ol>
          {% for error in errors.all %}
            <li>{{ error }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    <div class="alert alert-info">
      <h4>Guidance</h4>

      <p>The CSV file should contain <strong>4</strong> columns:</p>

      <p><pre>user id,email,full name,role</pre></p>

    <p>The file should <strong>not</strong> contain the column names.</p>
    </div>

    {% autoescape false %}
      {{ form_open({'files': true}) }}
        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('file', 'CSV file to upload', {'id': 'file-label', 'class': 'control-label'}) }}
            {{ form_file('file', {'id': 'file', 'class': 'form-control'}) }}
          </div>
        </div>

        <div class="well">
          {{ form_button('Upload and continue', {'type': 'submit', 'class': 'btn btn-primary'}) }}
          or <a href="{{ route('admin.users.index') }}">cancel</a>
        </div>
      {{ form_close() }}
    {% endautoescape %}
  </article>
{% endblock %}

{% block transactionsteps %}
  <li class="active">Data upload</li>
  <li>Check processed data</li>
  <li>Confirm and Print</li>
{% endblock %}