{% extends "layouts.single" %}

{% block title %}Create a new student group{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
      <li><a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a></li>
      <li class="active">{{ block('title') }}</li>
    </ol>

    <h1 class="page-header">{{ block('title') }}</h1>
  </header>

  <article>
    {% if errors is not empty %}
      <div class="alert alert-danger">
        <h4>There was a problem submitting the form</h4>

        <p>Because of the following problems:</p>

        <ol>
          {% for error in errors.all %}
            <li>{{ error }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% autoescape false %}
    {{ form_open({'route': 'admin.courses.student_groups.store'}) }}
    <div class="row">
      <div class="form-group col-md-5">
        {{ form_label('id', 'Student group code', {'id': 'student_group_id-label', 'class': 'control-label'}) }}
        {{ form_text('id', input.old('id'), {'id': 'student_group_id', 'class': 'form-control'}) }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5">
        {{ form_label('tutor', 'Group tutor', {'id': 'group_tutor-label', 'class': 'control-label'}) }}
        {{ form_select('tutor', tutors, input.old('tutor'), {'id': 'group_tutor', 'class': 'form-control chosen-select', 'data-placeholder': 'Select a tutor'}) }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5">
        {{ form_label('students', 'Students', {'id': 'students-label', 'class': 'control-label'}) }}
        {{ form_select('students', students, input.old('students'), {'id': 'students', 'class': 'form-control chosen-select', 'data-placeholder': 'Select students', 'multiple': 'true'}) }}
      </div>
    </div>

    <div class="well">
      {{ form_button('Create student group', {'type': 'submit', 'class': 'btn btn-primary'}) }}
      or <a href="{{ route('admin.courses.show', course.id) }}">cancel</a>
    </div>
    {{ form_close() }}
    {% endautoescape %}
  </article>
{% endblock %}