{% extends "layouts.single" %}

{% block title %}Edit student group {{ studentGroup.id }}{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
      <li><a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a></li>
      <li class="active">{{ block('title') }}</li>
    </ol>

    <h1 class="page-header">{{ block('title') }}</h1>
  </header>

  <article>
    {% if errors is not empty %}
      <div class="alert alert-danger">
        <h4>There was a problem submitting the form</h4>

        <p>Because of the following problems:</p>

        <ol>
          {% for error in errors.all %}
            <li>{{ error }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% autoescape false %}
    {{ form_model(studentGroup, {'route': ['admin.courses.student_groups.store', course.id]}) }}
    <div class="row">
      <div class="form-group col-md-5">
        {{ form_label('id', 'Student group code', {'id': 'student_group_id-label', 'class': 'control-label'}) }}
        <p class="form-control-static">{{ studentGroup.id }}</p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5">
        {{ form_label('tutor_user_id', 'Group tutor', {'id': 'group_tutor-label', 'class': 'control-label'}) }}
        {{ form_select('tutor_user_id', tutors, null, {'id': 'group_tutor', 'class': 'form-control chosen-select', 'data-placeholder': 'Select a tutor'}) }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5">
        {{ form_label('students[]', 'Students', {'id': 'students-label', 'class': 'control-label'}) }}
        {{ form_select('students[]', studentGroup.students.lists('id'), studentGroup.students.lists('id'), {'id': 'students', 'class': 'form-control chosen-select', 'data-placeholder': 'Select students', 'multiple': 'true'}) }}
      </div>
    </div>

    <div class="well">
      {{ form_button('Save changes', {'type': 'submit', 'class': 'btn btn-primary'}) }}
      or <a href="{{ route('admin.courses.student_groups.show', [course.id, studentGroup.id]) }}">cancel</a>
    </div>
    {{ form_close() }}
    {% endautoescape %}
  </article>
{% endblock %}