{% extends "layouts.single" %}

{% block title %}Progress tracker{% endblock %}
{% block mainclass %}col-md-12{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
      <li><a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a></li>
      <li class="active">Progress tracker</li>
    </ol>
    {% if session_has('successMessage') %}
      <div class="alert alert-success">
        {{ session_get('successMessage') }}
      </div>
    {% endif %}

    {% if session_has('infoMessage') %}
      <div class="alert alert-info">
        {{ session_get('infoMessage') }}
      </div>
    {% endif %}

    {% if session_has('errorMessage') %}
      <div class="alert alert-danger">
        {{ session_get('errorMessage') }}
      </div>
    {% endif %}

    <h1 class="page-header">
      {{ block('title') }}
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Unit view <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            {% for unit in course.units %}
              <li><a
                    href="{{ route('admin.courses.tracker.unit', [course.id, unit.id]) }}">Unit {{ unit.number }} &mdash; {{ unit.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </h1>
  </header>

  <div class="course-view">
    <table class="table table-responsive table-bordered tracker-table">
      <thead>
      <tr>
        <th rowspan="2">Student</th>
        <th colspan="{{ course.units.count() }}">Units</th>
        <th colspan="3">Grades</th>
        <th colspan="2">UCAS Points</th>
      </tr>
      <tr>
        {% for unit in course.units %}
          <th>{{ unit.number }}</th>
        {% endfor %}
        {# Main Grades #}
        <th>Final</th>
        <th>Pred.</th>
        <th>Target</th>
        {# UCAS Points #}
        {% if course.level == 3 %}
          <th>Final</th>
          <th>Pred.</th>
        {% endif %}
      </tr>
      </thead>

      <tbody>
      {% for student, grades in results %}
        <tr>
          <td data-toggle="tooltip" data-placement="right"
              title="{{ student }}" class="student">{{ student }}</td>
          {% for grade in grades %}
            {% if loop.revindex > 5 %}
              <td class="grade-{{ grade|lower }}">
                {{ grade|slice(0, 1) }}
              </td>
            {% elseif loop.revindex > 2 %}
              <td class="grade-{{ 'D*D*D*'|lower }}">
                {{ 'D*D*D*'|slice(0, 6) }}
              </td>
            {% else %}
              <td>{{ grade|slice(0, 6) }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
