{% extends "layouts.single" %}

{% block title %}Progress tracker{% endblock %}
{% block mainclass %}col-md-12{% endblock %}

{% block stylesheets %}
  <style>
    .unit-view > .tracker-table thead tr:first-child th:nth-last-child(2),
    .unit-view > .tracker-table thead tr:last-child th:nth-last-child({{ totalDistinction }}),
    .unit-view > .tracker-table tbody tr td:nth-last-child({{ totalDistinction + 1 }}),
    .unit-view > .tracker-table thead tr:first-child th:nth-last-child(3),
    .unit-view > .tracker-table thead tr:last-child th:nth-last-child({{ totalDistinction + totalMerit }}),
    .unit-view > .tracker-table tbody tr td:nth-last-child({{ totalDistinction + totalMerit + 1 }}) {
      border-left: 2px solid #000;
    }
  </style>
{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
      <li><a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a></li>
      <li><a href="{{ route('admin.courses.tracker.index', course.id) }}">Progress tracker</a></li>
      <li class="active">Unit {{ unit.number }} &mdash; {{ unit.name }}</li>
    </ol>
    {% if session_has('successMessage') %}
      <div class="alert alert-success">
        {{ session_get('successMessage') }}
      </div>
    {% endif %}

    {% if session_has('infoMessage') %}
      <div class="alert alert-info">
        {{ session_get('infoMessage') }}
      </div>
    {% endif %}

    {% if session_has('errorMessage') %}
      <div class="alert alert-danger">
        {{ session_get('errorMessage') }}
      </div>
    {% endif %}

    <h1 class="page-header">
      {{ block('title') }}
      <div class="pull-right">
        <a href="{{ route('admin.courses.tracker.index', course.id) }}" class="btn btn-default">Overall view</a>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Unit view <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            {% for unit in course.units %}
              <li><a href="{{ route('admin.courses.tracker.unit', [course.id, unit.id]) }}">Unit {{ unit.number }} &mdash; {{ unit.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </h1>
  </header>

  <h3>Unit {{ unit.number }} &mdash; {{ unit.name }}</h3>

  <div class="unit-view">
    <table class="table table-responsive table-bordered tracker-table">
      <thead>
      <tr>
        <th rowspan="2">Student</th>
        <th colspan="{{ totalPass }}"><strong>Pass</strong></th>
        <th colspan="{{ totalMerit }}"><strong>Merit</strong></th>
        <th colspan="{{ totalDistinction }}"><strong>Distinction</strong></th>
        <th rowspan="2">Grade</th>
      </tr>
      <tr>
        {% for criteria in unit.criteria %}
          <th>{{ criteria.id }}</th>
        {% endfor %}
      </tr>
      </thead>

      <tbody>
      {% for result in results %}
        <tr>
          <td class="student" title="{{ result.student.fullName }}">{{ result.student.shortName }}</td>
          {% for criteria in result.criteria %}
            <td class="{{ criteria.statusCssClass }}"></td>
          {% endfor %}
          <td class="grade-{{ result.grade.slug }}">{{ result.grade.longName }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
