<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Remove student submission by <strong>{{ student.full_name }} ({{ student.id }})</strong>
    for assignment titled <strong>{{ assignment.name }}</strong>
  </h4>
</div>
<div class="modal-body">
  <p>Are you sure you want to remove the student submission by <strong>{{ student.full_name }} ({{ student.id }})</strong>
    for the assignment titled <strong>{{ assignment.name }}</strong>?</p>

  <div class="alert alert-danger">
    <h4><span class="glyphicon glyphicon-warning-sign"></span> Warning: This is a highly destructive operation!</h4>

    <p>
      Deleting this submission will also remove all assessment data for the submission and the student
      attached to it. Please be sure that this is what you want to do before continuing.
    </p>
  </div>

  <p>Please check the details as shown in the table before continuing:</p>

  <table class="table">
    <thead>
    <tr>
      <th>Assignment</th>
      <th>Student</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{ assignment.name }}</td>
      <td>{{ student.full_name }} ({{ student.id }})</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  {% autoescape false %}
  {{ form_open({'route': ['admin.courses.units.assignments.submissions.destroy', course.id, unit.id, assignment.id,
  student.id], 'method': 'delete'}) }}
  {{ form_button('Delete submission', {'type': 'submit', 'class': 'btn btn-danger'}) }}
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  {{ form_close() }}
  {% endautoescape %}
</div>