{% extends "layouts.single" %}

{% block title %}Editing subject sector ({{ subjectSector.id }}){% endblock %}

{% block content %}
  <header class="page-header">
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.subjectsectors.index') }}">Subject sectors</a></li>
      <li class="active">{{ block('title') }}</li>
    </ol>
    <hgroup>
      <h1 class="heading-large">{{ block('title') }}</h1>
    </hgroup>
  </header>

  <article>
    {% if errors is not empty %}
      <div class="alert alert-danger">
        <h4>There was a problem submitting the form</h4>

        <p>Because of the following problems:</p>

        <ol>
          {% for error in errors.all %}
            <li>{{ error }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% autoescape false %}
      {{ form_model(subjectSector, {'route': ['admin.subjectsectors.update', subjectSector.id], 'method': 'put'}) }}
        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('id', 'Subject sector ID', {'id': 'subject_sector_id-label', 'class': 'control-label'}) }}
            <p class="form-control-static">{{ subjectSector.id }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            {{ form_label('name', 'Subject sector name', {'id': 'subject_sector_name-label', 'class': 'control-label'}) }}
            {{ form_text('name', null, {'id': 'subject_sector_name', 'class': 'form-control'}) }}
          </div>
        </div>

        <div class="well">
          {{ form_button('Update subject sector', {'type': 'submit', 'class': 'btn btn-primary'}) }}
          or <a href="{{ route('admin.subjectsectors.index') }}">cancel</a>
        </div>
      {{ form_close() }}
    {% endautoescape %}
  </article>
{% endblock %}