{% extends "layouts.single" %}

{% block title %}{{ faculty.name }} ({{ faculty.id }}){% endblock %}
{% block mainclass %}col-md-8{% endblock %}

{% block content %}
  <header class="page-header">
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.faculties.index') }}">Faculties</a></li>
      <li class="active">{{ faculty.name }}</li>
    </ol>
    <hgroup>
      {% if session_has('successMessage') %}
        <div class="alert alert-success">
          {{ session_get('successMessage') }}
        </div>
      {% endif %}

      {% if session_has('infoMessage') %}
        <div class="alert alert-info">
          {{ session_get('infoMessage') }}
        </div>
      {% endif %}

      {% if session_has('errorMessage') %}
        <div class="alert alert-danger">
          {{ session_get('errorMessage') }}
        </div>
      {% endif %}

      <h1 class="heading-large">
        {{ block('title') }}
        <span class="pull-right">
          <a href="{{ route('admin.faculties.edit', faculty.id) }}" class="btn btn-default btn-sm">Edit</a>
          <a href="{{ route('admin.faculties.destroy', faculty.id) }}" class="btn btn-danger btn-sm">Delete</a>
        </span>
      </h1>
    </hgroup>
  </header>

  <article>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Courses</a></li>
    </ul>


    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Course code</th>
          <th>Course name</th>
          <th>Course Organiser</th>
        </tr>
      </thead>

      <tbody>
        {% for course in faculty.courses %}
          <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.course_organiser.full_name }}</td>
          </tr>
        {% else %}
          <tr><td colspan="3">No courses were found.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock %}
