{% extends "layouts.single" %}

{% block title %}Home{% endblock %}

{% block content %}
  <header class="page-header">
    <hgroup><h1 class="form-title heading-large">Welcome {{ auth_user().full_name }}</h1></hgroup>
  </header>

  <p>What would you like to manage today?</p>

  <article>
    <div class="list-group">
      <a href="{{ route('admin.faculties.index') }}" class="list-group-item">
        <div class="row">
          <div class="col-sm-1 col-xs-2">
            <span class="mega-octicon octicon-file-submodule"></span>
          </div>
          <div class="col-sm-11 col-xs-10">
            <h4 class="list-group-item-heading">Faculties</h4>

            <p class="list-group-item-text">
              Create, modify and remove faculties.
            </p>
          </div>
        </div>
      </a>

      <a href="{{ route('admin.subjectsectors.index') }}" class="list-group-item">
        <div class="row">
          <div class="col-sm-1 col-xs-2">
            <span class="mega-octicon octicon-three-bars"></span>
          </div>
          <div class="col-sm-11 col-xs-10">
            <h4 class="list-group-item-heading">Subject Sectors</h4>

            <p class="list-group-item-text">
              Create, modify and remove subject sectors for units.
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="list-group-item">

        <div class="row">
          <div class="col-sm-1 col-xs-2">
            <span class="mega-octicon octicon-repo"></span>
          </div>
          <div class="col-sm-11 col-xs-10">
            <h4 class="list-group-item-heading">Courses</h4>

            <p class="list-group-item-text">
              Create, modify and remove courses.
            </p>
          </div>
        </div>
      </a>

      <a href="{{ route('admin.units.index') }}" class="list-group-item">
        <div class="row">
          <div class="col-sm-1 col-xs-2">
            <span class="mega-octicon octicon-versions"></span>
          </div>
          <div class="col-sm-11 col-xs-10">
            <h4 class="list-group-item-heading">Course Units</h4>

            <p class="list-group-item-text">
              Create, modify and remove course units.
            </p>
          </div>
        </div>
      </a>

      <a href="{{ route('admin.users.index') }}" class="list-group-item">
        <div class="row">
          <div class="col-sm-1 col-xs-2">
            <span class="mega-octicon octicon-organization"></span>
          </div>
          <div class="col-sm-11 col-xs-10">
            <h4 class="list-group-item-heading">Users</h4>
            <p class="list-group-item-text">
              Create, modify and remove students, tutors and course organisers.
            </p>
          </div>
        </div>
      </a>
    </div>
  </article>
{% endblock %}