{% extends "layouts.single" %}

{% block title %}Assess student submission{% endblock %}

{% block content %}
    <header>
        <ol class="breadcrumb">
            <li><a href="{{ route('home') }}">Home</a></li>
            <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
            <li>
                <a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a>
            </li>
            <li>
                <a href="{{ route('admin.courses.units.show', [course.id, unit.id]) }}">
                    Unit {{ unit.number }} &mdash; {{ unit.name }}
                </a>
            </li>
            <li><a href="{{ route('admin.courses.units.assignments.show',
                [course.id, unit.id, assignment.id]) }}">
                    Assignment {{ assignment.number }} &mdash; {{ assignment.name }}
                </a></li>
            <li class="active">{{ block('title') }}</li>
        </ol>
        {% if session_has('successMessage') %}
            <div class="alert alert-success">
                {{ session_get('successMessage') }}
            </div>
        {% endif %}

        {% if session_has('infoMessage') %}
            <div class="alert alert-info">
                {{ session_get('infoMessage') }}
            </div>
        {% endif %}

        {% if session_has('errorMessage') %}
            <div class="alert alert-danger">
                {{ session_get('errorMessage') }}
            </div>
        {% endif %}

        {% if errors is not empty %}
            <div class="alert alert-danger">
                <h4>There was a problem submitting the form</h4>

                <p>Because of the following problems:</p>

                <ol>
                    {% for error in errors.all %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}

        <h1 class="page-header">{{ block('title') }}</h1>
    </header>

    {% if auth_user().role == 'Admin' %}
        <div class="alert alert-warning">
            <h4>
                <span class="glyphicon glyphicon-warning-sign"></span>
                You are logged in as an administrator
            </h4>

            <p>Administrators don't usually assess student submissions.</p>

            <p>If you're sure you know what you are doing, ignore this
                warning.</p>
        </div>
    {% endif %}

    <h4>Submission Details</h4>

    <ul class="list-group list-group-compact">
        <li class="list-group-item">
            <strong>Assignment:</strong> {{ assignment.number }} &mdash; {{ assignment.name }}
        </li>
        <li class="list-group-item">
            <strong>Student:</strong> {{ student.full_name }} ({{ student.id }})
        </li>
        <li class="list-group-item">
            <strong>Submission
                date:</strong> {{ student.pivot.submission_date|date("d/m/Y, H:i") }}
        </li>
        <li class="list-group-item">
            <strong>Submission deadline:</strong>
            {% if student.pivot_special_deadline is not empty %}
                {{ student.pivot.special_deadline|date("d/m/Y, H:i") }}
            {% else %}
                {{ assignment.deadline|date("d/m/Y, H:i") }}
            {% endif %}
        </li>
        <li class="list-group-item">
            <strong>Marking
                deadline:</strong> {{ assignment.marking_deadline|date("d/m/Y, H:i") }}
        </li>
    </ul>

    {% autoescape false %}
    {{ form_open({'route': ['admin.courses.units.assignments.submissions.assess.store', course.id, unit.id, assignment.id, student.id]}) }}
    <h4>Assessment Criteria</h4>

    <hr>

    <div class="row">
        <div class="col-md-4">
            {% for criteria, assessmentStatus in assessmentRecords %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4>Criterion: {{ criteria }}</h4>
                            {{ form_label('criteria[' ~ criteria ~ '][assessment_status]', 'Assessment status', {'class': 'control-label'}) }}
                            {{ form_text('criteria[' ~ criteria ~ '][assessment_status]', assessmentStatus, {'class': 'form-control'}) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-7 col-md-offset-1">
            <div class="well">
                <h4>Assessment status code reference</h4>

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Explanation</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>NYA</td>
                        <td>Not yet submitted</td>
                    </tr>

                    <tr>
                        <td>AM</td>
                        <td>Submitted awaiting marking</td>
                    </tr>

                    <tr>
                        <td>ALM</td>
                        <td>Submitted, awaiting overdue marking</td>
                    </tr>

                    <tr>
                        <td>A</td>
                        <td>Achieved</td>
                    </tr>

                    <tr>
                        <td>L</td>
                        <td>Late, not yet submitted</td>
                    </tr>

                    <tr>
                        <td>LA</td>
                        <td>Late, submitted awaiting marking</td>
                    </tr>

                    <tr>
                        <td>R1</td>
                        <td>Referral 1</td>
                    </tr>

                    <tr>
                        <td>R1AM</td>
                        <td>Referral 1 resubmitted, awaiting marking</td>
                    </tr>

                    <tr>
                        <td>R2</td>
                        <td>Referral 2</td>
                    </tr>

                    <tr>
                        <td>R2AM</td>
                        <td>Referral 2 resubmitted, awaiting marking</td>
                    </tr>

                    <tr>
                        <td>R3</td>
                        <td>Referral 3</td>
                    </tr>

                    <tr>
                        <td>R3AM</td>
                        <td>Referral 3 resubmitted, awaiting marking</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="well">
            {{ form_button('Save assessment', {'type': 'submit', 'class': 'btn btn-primary'}) }}
            or
            <a href="{{ route('admin.courses.units.assignments.show', [course.id, unit.id, assignment.id]) }}">cancel</a>
        </div>
    </div>
    {{ form.close() }}
    {% endautoescape %}

    <div class="modal fade" id="assessment-status-guidance-modal" tabindex="-1"
         role="dialog" aria-labelledby="assessment-status-guidance-modal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Assessment status guidance</h4>
                </div>
                <div class="modal-body">
                    <p>Short-codes are used for setting the assessment status
                        for a particular criterion in a student submission
                        assessment.
                        The table below shows all the different short-codes.</p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}