{% extends "layouts.single" %}

{% block title %}Edit a student submission {{ student.id }}{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
      <li><a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a></li>
      <li>
        <a href="{{ route('admin.courses.units.show', [course.id, unit.id]) }}">
          Unit {{ unit.number }} &mdash; {{ unit.name }}
        </a>
      </li>
      <li>Assignment {{ assignment.number }} &mdash; {{ assignment.name }}</li>
      <li>{{ block('title') }}</li>
    </ol>
    {% if session_has('successMessage') %}
      <div class="alert alert-success">
        {{ session_get('successMessage') }}
      </div>
    {% endif %}

    {% if session_has('infoMessage') %}
      <div class="alert alert-info">
        {{ session_get('infoMessage') }}
      </div>
    {% endif %}

    {% if session_has('errorMessage') %}
      <div class="alert alert-danger">
        {{ session_get('errorMessage') }}
      </div>
    {% endif %}

    {% if errors is not empty %}
      <div class="alert alert-danger">
        <h4>There was a problem submitting the form</h4>

        <p>Because of the following problems:</p>

        <ol>
          {% for error in errors.all %}
            <li>{{ error }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    <h1 class="page-header">{{ block('title') }}</h1>
  </header>

  {% autoescape false %}
  {{ form_open({'route': ['admin.courses.units.assignments.submissions.update', course.id, unit.id, assignment.id, student.id]}) }}
  <div class="row">
    <div class="col-md-5 form-group">
      {{ form_label('student_user_id', 'Student', {'id': 'student-label', 'class': 'control-label'}) }}
      <p class="form-control-static">{{ student.full_name }} ({{ student.id }})</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4>Submission Date</h4>

      <div class="form-group">
        {{ form_label('submission_date_string', 'Date', {'id': 'available_date_string-label', 'class': 'control-label'}) }}
        {{ form_text('submission_date_string', input.old('submission_date_string') ?: "now"|date('d/m/Y'),
        {'id': 'available_date_string', 'class': 'form-control datepicker'}) }}
      </div>

      <div class="form-group">
        {{ form_label('submission_time', 'Time', {'id': 'submission_time-label', 'class': 'control-label'}) }}
        <div class="form-inline">
          {{ form_select('submission_hour', {
          '00':'00', '01':'01', '02':'02', '03':'03', '04':'04', '05':'05', '06':'06', '07':'07', '08':'08', '09':'09',
          '10':'10', '11':'11', '12':'12', '13':'13', '14':'14', '15':'15', '16':'16', '17':'17', '18':'18', '19':'19',
          '20':'20', '21':'21', '22':'22', '23':'23'}, input.old('submission_hour') ?: "now"|date('H'),
          {'id': 'submission_hour', 'class': 'form-control'}) }}
          {{ form_select('submission_minute', {
          '00':'00', '05':'05', '10':'10', '15':'15', '20':'20', '25':'25', '30':'30', '35':'35', '40':'40', '45':'45',
          '50':'50', '55':'55'}, input.old('submission_minute'), {'id': 'submission_minute', 'class': 'form-control'}) }}
        </div>
      </div>
      <div class="help-block">
        The actual submission date can be found on Moodle.
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="special_deadline_required_checkbox">
        <span>Does this student need a special deadline?</span>
      </label>
      <input type="checkbox" id="special_deadline_required_checkbox" class="checkbox pull-right">

      <div class="help-block">
        Tick this box if the student has extenuating circumstances or requires
        an alternative deadline.
      </div>
    </div>
  </div>

  <div class="row">
    <div id="special-deadline-box" class="col-md-4">
      <h4>Special deadline</h4>

      <div class="form-group">
        {{ form_label('special_deadline_date_string', 'Date', {'id': 'special_deadline_date_string-label', 'class': 'control-label'}) }}
        {{ form_text('special_deadline_date_string', input.old('special_deadline_date_string'),
        {'id': 'special_deadline_date_string', 'class': 'form-control datepicker'}) }}
      </div>

      <div class="form-group">
        {{ form_label('special_deadline_time', 'Time', {'id': 'special_deadline_time-label', 'class': 'control-label'}) }}
        <div class="form-inline">
          {{ form_select('special_deadline_hour', {
          '00':'00', '01':'01', '02':'02', '03':'03', '04':'04', '05':'05', '06':'06', '07':'07', '08':'08', '09':'09',
          '10':'10', '11':'11', '12':'12', '13':'13', '14':'14', '15':'15', '16':'16', '17':'17', '18':'18', '19':'19',
          '20':'20', '21':'21', '22':'22', '23':'23'}, input.old('special_deadline_hour'),
          {'id': 'special_deadline_hour', 'class': 'form-control'}) }}
          {{ form_select('special_deadline_minute', {
          '00':'00', '05':'05', '10':'10', '15':'15', '20':'20', '25':'25', '30':'30', '35':'35', '40':'40', '45':'45',
          '50':'50', '55':'55'}, input.old('special_deadline_minute'), {'id': 'special_deadline_minute', 'class': 'form-control'}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="well">
      {{ form_button('Add submission', {'type': 'submit', 'class': 'btn btn-primary'}) }}
      or <a href="{{ route('admin.courses.units.assignments.show', [course.id, unit.id, assignment.id]) }}">cancel</a>
    </div>
  </div>
  {{ form.close() }}
  {% endautoescape %}

{% endblock %}