{% extends "layouts.single" %}

{% block title %}Your profile{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.users.index') }}">Users</a></li>
      <li class="active">{{ block('title') }}</li>
    </ol>
    <h1 class="page-header">{{ block('title') }}</h1>
  </header>

  {% if session_has('successMessage') %}
    <div class="alert alert-success">
      {{ session_get('successMessage') }}
    </div>
  {% endif %}

  {% if session_has('infoMessage') %}
    <div class="alert alert-info">
      {{ session_get('infoMessage') }}
    </div>
  {% endif %}

  {% if session_has('errorMessage') %}
    <div class="alert alert-danger">
      {{ session_get('errorMessage') }}
    </div>
  {% endif %}

  {% if errors is not empty %}
    <div class="alert alert-danger">
      <h4>There was a problem submitting the form</h4>

      <p>Because of the following problems:</p>

      <ol>
        {% for error in errors.all %}
          <li>{{ error }}</li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}

  {% autoescape false %}
  {{ form_model(user, {'route': ['profile.store'], 'method': 'post'}) }}
  <div class="row">
    <div class="form-group col-md-5">
      {{ form_label('user_id', 'User ID', {'id': 'id-label', 'class': 'control-label'}) }}
      <p class="form-control-static">{{ user.id }}</p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      {{ form_label('full_name', 'Full name', {'id': 'full_name-label', 'class': 'control-label'}) }}
      {{ form_text('full_name', null, {'id': 'full_name', 'class': 'form-control'}) }}
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      {{ form_label('email', 'Email address', {'id': 'email-label', 'class': 'control-label'}) }}
      {{ form_email('email', null, {'id': 'email', 'class': 'form-control'}) }}
    </div>
  </div>

  <hr>

  <h3>Change password</h3>

  {{ form_hidden('update', true) }}

  <div class="row">
    <div class="form-group col-md-5">
      {{ form_label('old_password', 'Current password', {'id': 'old_password-label', 'class': 'control-label'}) }}
      {{ form_password('old_password', {'id': 'old_password', 'class': 'form-control'}) }}
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      {{ form_label('password', 'New password', {'id': 'password-label', 'class': 'control-label'}) }}
      {{ form_password('password', {'id': 'password', 'class': 'form-control'}) }}
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      {{ form_label('password_confirmation', 'Repeat new password', {'id': 'password_confirmation-label', 'class': 'control-label'}) }}
      {{ form_password('password_confirmation', {'id': 'password_confirmation', 'class': 'form-control'}) }}
    </div>
  </div>

  <div class="well">
    {{ form_button('Save changes', {'type': 'submit', 'class': 'btn btn-primary'}) }}
    or <a href="{{ route('home') }}">cancel</a>
  </div>
  {{ form_close() }}
  {% endautoescape %}
{% endblock %}