{% extends "layouts.single" %}

{% block title %}Create a new user{% endblock %}

{% block content %}
  <header class="page-header">
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.users.index') }}">Users</a></li>
      <li class="active">{{ block('title') }}</li>
    </ol>

    <h1 class="heading-large">Create a new user</h1>
  </header>

    {% if errors is not empty %}
      <div class="alert alert-danger">
        <h4>There was a problem submitting the form</h4>

        <p>Because of the following problems:</p>

        <ol>
          {% for error in errors.all %}
            <li>{{ error }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% autoescape false %}
      {{ form_open({'route': 'admin.users.store'}) }}
        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('id', 'User ID', {'id': 'user_id-label', 'class': 'control-label'}) }}
            {{ form_text('id', input_old('user_id'), {'id': 'user_id', 'class': 'form-control'}) }}
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('full_name', 'Full name', {'id': 'full_name-label', 'class': 'control-label'}) }}
            {{ form_text('full_name', input_old('full_name'), {'id': 'full_name', 'class': 'form-control'}) }}
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('email', 'Email address', {'id': 'email-label', 'class': 'control-label'}) }}
            {{ form_email('email', input_old('email'), {'id': 'email', 'class': 'form-control'}) }}
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('password', 'Password', {'id': 'password-label', 'class': 'control-label'}) }}
            {{ form_password('password', {'id': 'password', 'class': 'form-control'}) }}
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('password_confirmation', 'Repeat Password', {'id': 'password_confirmation-label', 'class': 'control-label'}) }}
            {{ form_password('password_confirmation', {'id': 'password_confirmation', 'class': 'form-control'}) }}
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-5">
            {{ form_label('role', 'User role', {'id': 'role-label', 'class': 'control-label'}) }}
            {% for role in roles %}
              <div class="radio">
                <label class="radio">
                  {{ form_radio('role', role, input_old('role') == role) }}
                  {{ role }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="well">
          {{ form_button('Create user', {'type': 'submit', 'class': 'btn btn-primary'}) }}
          or <a href="{{ route('admin.users.index') }}">cancel</a>
        </div>
      {{ form_close() }}
    {% endautoescape %}
  </article>
{% endblock %}