{% extends "layouts.single" %}

{% block title %}Unit {{ unit.number }} - {{ unit.name }}{% endblock %}
{% block mainclass %}col-md-12{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
      <li><a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a></li>
      <li class="active">{{ block("title") }}</li>
    </ol>
    <hgroup>
      {% if session_has('successMessage') %}
        <div class="alert alert-success">
          {{ session_get('successMessage') }}
        </div>
      {% endif %}

      {% if session_has('infoMessage') %}
        <div class="alert alert-info">
          {{ session_get('infoMessage') }}
        </div>
      {% endif %}

      {% if session_has('errorMessage') %}
        <div class="alert alert-danger">
          {{ session_get('errorMessage') }}
        </div>
      {% endif %}

      <h1 class="page-header">
        {{ block('title') }}
        <br>
        <a href="{{ route('admin.units.delete_confirm', unit.id) }}" data-toggle="modal" data-target="#web-modal"
           class="btn btn-danger btn-sm">Remove from course</a>
      </h1>
    </hgroup>
  </header>

  <article>
    <h3>Unit Info</h3>

    <div class="row">
      <div class="col-md-5">
        <ul class="list-group list-group-compact">
          <li class="list-group-item"><strong>Unit ID:</strong> {{ unit.id }}</li>
          <li class="list-group-item"><strong>Credit value</strong> {{ unit.credit_value }}</li>
          <li class="list-group-item"><strong>Guided learning hours:</strong> {{ unit.glh }}</li>
          <li class="list-group-item"><strong>Qualification level:</strong> {{ unit.level }}</li>
          <li class="list-group-item"><strong>Subject sector:</strong> {{ unit.subject_sector.name }}</li>
        </ul>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#assignments" data-toggle="tab">Assignments</a></li>
      <li><a href="#criteria" data-toggle="tab">Criteria</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="assignments">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>A. ID</th>
              <th>A. no.</th>
              <th>A. name</th>
              <th>Date made available</th>
              <th>Submission deadline</th>
              <th>Marking deadline</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {% for assignment in unit.assignments %}
              <tr>
                <td><a href="{{ route('admin.courses.units.assignments.show', [course.id, unit.id, assignment.id]) }}">{{ assignment.id }}</a></td>
                <td><a href="{{ route('admin.courses.units.assignments.show', [course.id, unit.id, assignment.id]) }}">{{ assignment.number }}</a></td>
                <td><a href="{{ route('admin.courses.units.assignments.show', [course.id, unit.id, assignment.id]) }}">{{ assignment.name }}</a></td>
                <td>{{ assignment.available_date|date("d/m/Y, H:i") }}</td>
                <td>{{ assignment.deadline|date("d/m/Y, H:i") }}</td>
                <td>{{ assignment.marking_deadline|date("d/m/Y, H:i") }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-default">Edit</a>
                  <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
            {% else %}
              <tr><td colspan="5">No assignments could be found.</td></tr>
            {% endfor %}
          </tbody>
        </table>

        <a href="{{ route('admin.courses.units.assignments.create', [course.id, unit.id]) }}" class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
          Create a new assignment
        </a>
      </div>

      <div class="tab-pane" id="criteria">
        {% if unit.criteria is not empty %}
          <div class="row text-center">
          <div class="col-md-2">
            <h4>Pass</h4>
            <ul class="list-group list-group-compact">
              {% for criteria in unit.criteria if criteria.type == 'Pass' %}
                <li class="list-group-item">{{ criteria.id }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md-2">
            <h4>Merit</h4>
            <ul class="list-group list-group-compact">
              {% for criteria in unit.criteria if criteria.type == 'Merit' %}
                <li class="list-group-item">{{ criteria.id }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md-2">
            <h4>Distinction</h4>
            <ul class="list-group list-group-compact">
              {% for criteria in unit.criteria if criteria.type == 'Distinction' %}
                <li class="list-group-item">{{ criteria.id }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% else %}
          <h4>No criteria could be found.</h4>
        {% endif %}
      </div>
    </div>
  </article>
{% endblock %}
