{% extends "layouts.single" %}

{% block title %}Create a new course{% endblock %}

{% block content %}
<header>
  <ol class="breadcrumb">
    <li><a href="{{ route('home') }}">Home</a></li>
    <li><a href="{{ route('admin.courses.index') }}">Courses</a></li>
    <li class="active">{{ block('title') }}</li>
  </ol>
  <h1 class="page-header">{{ block('title') }}</h1>
</header>

{% if errors is not empty %}
<div class="alert alert-danger">
  <h4>There was a problem submitting the form</h4>

  <p>Because of the following problems:</p>

  <ol>
    {% for error in errors.all %}
    <li>{{ error }}</li>
    {% endfor %}
  </ol>
</div>
{% endif %}

{% autoescape false %}
{{ form_open({'route': 'admin.courses.store'}) }}
<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('course_id', 'Course Code', {'id': 'course_id-label', 'class': 'control-label'}) }}
    {{ form_text('course_id', input_old('course_id'), {'id': 'course_id', 'class': 'form-control'}) }}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('name', 'Course name', {'id': 'name-label', 'class': 'control-label'}) }}
    {{ form_text('name', input_old('name'), {'id': 'name', 'class': 'form-control'}) }}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('type', 'Course type', {'id': 'type-label', 'class': 'control-label'}) }}
    {{ form_select('type', validCourseTypes, input_old('type'), {'id': 'type', 'class': 'form-control chosen-select', 'data-placeholder': 'Select a course type'}) }}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('pathway', 'Course pathway', {'id': 'pathway-label', 'class': 'control-label'}) }}
    {{ form_text('pathway', input_old('pathway'), {'id': 'pathway', 'class': 'form-control'}) }}

    <span class="help-block">Optional</span>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('level', 'Qualification Level', {'id': 'level-label', 'class': 'control-label'}) }}
    <br>
    <label class="radio-inline">
      {{ form_radio('level', '2', false) }} 2
    </label>
    <label class="radio-inline">
      {{ form_radio('level', '3', false) }} 3
    </label>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('faculty', 'Faculty', {'id': 'faculty-label', 'class': 'form-label'}) }}
    {{ form_select('faculty', faculties, input_old('faculty'), {'id': 'faculty',
    'class': 'form-control chosen-select', 'data-placeholder': 'Select a faculty'}) }}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('subject_sector', 'Subject sector', {'id': 'subject_sector-label', 'class': 'form-label'}) }}
    {{ form_select('subject_sector', subjectSectors, input_old('subject_sector'), {'id': 'subject_sector',
    'class': 'form-control chosen-select', 'data-placeholder': 'Select a subject sector'}) }}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('course_organiser', 'Course organiser', {'id': 'course_organiser-label', 'class': 'form-label'}) }}
    {{ form_select('course_organiser', courseOrganisers, input_old('course_organiser'), {'id': 'course_organiser', 'class': 'form-control chosen-select', 'data-placeholder': 'Select a course organiser'}) }}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('units[]', 'Units', {'id': 'units-label', 'class': 'form-label'}) }}
    {{ form_select('units[]', units, input_old('units'), {'id': 'units', 'class': 'form-control chosen-select', 'multiple': true, 'data-placeholder': 'Select units'}) }}
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    {{ form_label('students[]', 'Students to enrol', {'id': 'students-label', 'class': 'form-label'}) }}
    {{ form_select('students[]', students, input_old('students'), {'id': 'students', 'class': 'form-control chosen-select', 'multiple': true, 'data-placeholder': 'Select students'}) }}
  </div>
</div>

<div class="well">
  {{ form_button('Create course', {'type': 'submit', 'class': 'btn btn-primary'}) }}
  or <a href="{{ route('admin.courses.index') }}">cancel</a>
</div>
{{ form_close() }}
{% endautoescape %}
{% endblock %}