{% extends "layouts.single" %}

{% block title %}Manage courses{% endblock %}
{% block mainclass %}col-md-12{% endblock %}

{% block content %}
  <header>
    <ol class="breadcrumb">
      <li><a href="{{ route('home') }}">Home</a></li>
      <li class="active">Courses</li>
    </ol>
    {% if session_has('successMessage') %}
      <div class="alert alert-success">
        {{ session_get('successMessage') }}
      </div>
    {% endif %}

    {% if session_has('infoMessage') %}
      <div class="alert alert-info">
        {{ session_get('infoMessage') }}
      </div>
    {% endif %}

    {% if session_has('errorMessage') %}
      <div class="alert alert-danger">
        {{ session_get('errorMessage') }}
      </div>
    {% endif %}

    <h1 class="page-header">
      {{ block('title') }}
      <span class="pull-right">
          <a href="{{ route('admin.courses.create') }}" class="btn btn-primary btn-sm">Create one</a>
        </span>
    </h1>
  </header>

  <table class="table table-borders table-responsive">
    <thead>
    <tr>
      <th>Course code</th>
      <th>Course name</th>
      <td>Level</td>
      <td>Type</td>
      <td>Subject Sector</td>
      <td>Faculty</td>
      <td>Course Organiser</td>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {% for course in courses %}
      <tr>
        <td><a href="{{ route('admin.courses.show', course.id) }}">{{ course.id }}</a></td>
        <td><a href="{{ route('admin.courses.show', course.id) }}">{{ course.name }}</a></td>
        <td>{{ course.level }}</td>
        <td>{{ course.type }}</td>
        <td><a href="{{ route('admin.subjectsectors.show', course.subject_sector.id) }}">{{ course.subject_sector.name }}</a>
        </td>
        <td><a href="{{ route('admin.faculties.show', course.faculty.id) }}">{{ course.faculty.name }}</a></td>
        <td>{{ course.course_organiser.full_name }}</td>
        <td>
          <a href="{{ route('admin.courses.edit', course.id) }}" class="btn btn-default btn-sm">Edit</a>
          <a href="{{ route('admin.courses.delete_confirm', course.id) }}" data-toggle="modal"
             data-target="#web-modal" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5">No courses have been found.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
